body {
    font: 1em/1.2em sans-serif;
    color: #222;
}

[data-show="false"] {
    display: none;
}

form {

    position: absolute;

    left: 50%;
    top: 100px;
    margin-left: -150px;

    display: block;
    width: 300px;

    background: #cccccc;
    border: 1px solid #aaa;

    text-align: center;

    padding: 20px;
    border-radius: 5px;

}

input {

    background: #eee;
    border: 1px solid #aaa;

    border-radius: 5px;
    padding: 5px 10px;

}

button {

    background: #aaa;
    padding: 5px 20px;

    border-radius: 5px;
    border: 1px solid #666;
    margin-top: 15px;

}

form > img {

    width: 50%;
}